@import "button1.css";

:root {
    --color-main1: #011c37;
    --color-main2: #15dea5;
    --color-dark: #333;
    --color-grey1: #666;
    --color-grey2: #999;
    --color-grey3: #ccc;
    --color-light: #fff;

    --rounded-sm: 5px;
    --rounded-md: 10px;
    --rounded-lg: 15px;
    --rounded-round: 50px;
    --font-size: 16px;
    font-size: var(--font-size);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Tahoma", sans-serif;
    line-height: 1.6;
    color: var(--color-dark);
    background-color: var(--color-light);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 20px;
}

.section {
    margin-bottom: 20px;
}

.banner {
    padding: 50px;
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.gallery__item {
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: var(--color-main1) solid 1px;
    border-radius: var(--rounded-md);
    padding: calc(var(--rounded-md) + 5px);
}
